{{> header title="Your GradPal Account Has Been Activated"}}

<p>Hi {{userName}},</p>

<p>Your GradPal account has been activated by our admin team. You can now log in and continue using GradPal.</p>

<p>Thank you,<br/>The GradPal Team</p>

{{> footer NationalPortal="GradPal Marketplace"}}
