{{> header title="Your GradPal Account Has Been Deactivated"}}

<p>Hi {{userName}},</p>

<p>Your GradPal account has been deactivated by our admin team due to piracy-related activity.</p>

<p>If you believe this is a mistake, please contact support immediately.</p>

<p>Thank you,<br/>The GradPal Team</p>

{{> footer NationalPortal="GradPal Marketplace"}}
