{{> header}}
    <h1 style="color: #2F6A4D;">Dear {{userName}}!</h1>
    <p style="font-size: 16px; color: #333;">We’re excited to have at Gradpal! Your account is succcessfully activated.</p>

    <p style="font-size: 14px; color: #777;">If you didn’t request this, please ignore this email.</p>

    <footer style="text-align: center; padding: 20px 0; background-color: #f8f8f8;">
        <p style="font-size: 14px; color: #333;">Thanks,</p>
        <p style="font-size: 14px; color: #333;">The Gradpal Team</p>
        <p style="font-size: 14px; color: #333;">If you have any questions, feel free to reach out to us at <a href="mailto:Gradpal@devteam.com" style="color: #2F6A4D;">support@devteam.com</a></p>
        <p style="font-size: 12px; color: #777;">You are receiving this email because you signed up for Gradpal. If you no longer wish to receive these emails, you can <a href="{{unsubscribeUrl}}" style="color: #2F6A4D;">unsubscribe here</a>.</p>
    </footer>
{{> footer}}
