{{> header title="Your Account Information Has Been Updated"}}

<p>Hi {{userName}},</p>

<p>Your GradPal account information has been successfully updated.</p>

<p>If you didn’t make these changes, please contact support immediately.</p>

<p>Thank you,<br/>The GradPal Team</p>

{{> footer NationalPortal="GradPal Marketplace"}}
