{{> header title="New Login to Your GradPal Account"}}

<p>Hi {{userName}},</p>

<p>A new login to your account was detected.</p>

{{#if message}}
  <p>{{message}}</p>
{{/if}}

<p>If this wasn’t you, please review your account activity and update your password immediately.</p>

<p>Stay secure,<br/>The GradPal Team</p>

{{> footer NationalPortal="GradPal Marketplace"}}
