{{> header title="Your Account Security Settings Have Been Updated"}}

<p>Hi {{userName}},</p>

<p>Your GradPal account security settings have been successfully updated.</p>

<p>If you didn’t make these changes, please review your account security immediately.</p>

<p>Thank you,<br/>The GradPal Team</p>

{{> footer NationalPortal="GradPal Marketplace"}}
